* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
.olxing {
  align-items: center;
  gap: 25px;
  z-index: 2;
  /* top: 0px;
  position: sticky !important; */
  background-color: white;
}
.olxing h1 {
  color: #002f34;
  cursor: pointer;
}

.Motors a {
  border: solid black 2px;
  border-radius: 100%;
  padding: 10px;
  color: #696d6e;

  background: rgb(214, 214, 214);
  background: linear-gradient(
    4deg,
    rgba(214, 214, 214, 0.49) 13%,
    rgba(230, 230, 230, 0.49) 64%
  );
}

.motoring {
  font-weight: 700;
}
.Motors a:hover {
  color: #3a77ff;
  background: rgb(199, 203, 203);
  background: linear-gradient(
    4deg,
    rgba(199, 203, 203, 0.49) 15%,
    rgba(206, 254, 255, 0.6756827731092436) 64%
  );
}
.motoring:hover {
  color: #3a77ff;
}
.current {
  color: #3a77ff !important;
}
.azad {
  width: 220px;
  background-color: white !important;
  color: black !important;
}
.kashmir {
  height: 300px;
  width: 220px;
}
.searching {
  width: 500px;
}

.login {
  text-decoration: underline;
  font-size: 22px;
}

.login:hover {
  text-decoration: none;
}

.use:hover {
  background-color: #c8f8f6 !important;
}

.inputing {
  outline: none !important;
  border: solid 1px !important;
  padding: 0px !important;
  text-align: center;
  box-sizing: border-box !important;
}

.inputing:hover {
  border: solid 2px #23e5db !important;
}

.decorating {
  position: relative;
  /* position: sticky;
  top: 60px; */
  background-color: white;
  z-index: 1;
}
.selling {
  position: absolute;
  top: 44px;
  left: 1000px;
  cursor: pointer;
}
.decorating {
  gap: 50px !important;
}

.location {
  width: 250px !important;
}
.listi {
  list-style-type: none;
}
.motorcycles:hover {
  color: #00a49f !important;
}
.Allcategories {
  cursor: pointer;
}
.fa-heart {
  margin-left: 100px;
}
.rs {
  font-weight: 700;
}
.daysago {
  font-weight: 200;
}
.footing {
  background-color: #f7f8f9;
}
.appstore {
  align-self: center;
  flex: 1;
}
.apping {
  flex: 1;
}
li {
  list-style-type: none;
}
.Dubizzle {
  text-decoration: none;
  color: rgba(0, 47, 52, 0.64);
}
.Dubizzle:hover {
  color: black;
}
.Flats {
  background-color: #ebeeef !important;
  border: solid #ebeeef 2px;
  height: 300px !important;
}
.folowing {
  margin-top: 44px;
  line-height: 30px;
}
.Folowing {
  margin-left: 50px;
}
.Privacy {
  margin-right: 50px;
}
.Classifieds {
  background-color: #002f34;
  height: 60px;
  color: white;
}
.SELL {
  font-weight: 700;
  position: absolute;
  top: 55px;
  cursor: pointer;
  right: 53px;
}
.loging {
  flex: 1;
}
.addition {
  position: absolute;
  right: 95px;
  top: 60px;
  cursor: pointer;
}
.hring {
  width: 2px;
  height: 150px;
  background-color: black;
  color: black;
  margin-right: 110px;
}
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: column;
  gap: 20px;
  padding-bottom: 15px;
}
.bike-grid {
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 45px;
  padding-bottom: 15px;
}
.Allcategories img {
  margin: 0 auto;
  display: block;
}
.car-grid {
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 45px;
  padding-bottom: 15px;
}
.house-grid {
  grid-auto-flow: column;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 45px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .selling {
    display: none;
  }
  .SELL {
    display: none;
  }
  .addition {
    display: none !important;
  }
  .searching {
    margin: 0;
    padding: 0;
  }
  .inputing {
    width: 100% !important;
    font-size: 15px !important;
  }
  .decorating {
    gap: 0px !important;
  }
  .loging {
    margin-left: 20px;
  }
  .navLinks {
    display: flex !important;
    gap: 0 !important;
  }
  .motorcycles {
    font-size: 13px;
  }
  .category-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .bike-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .car-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .house-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .folowing h5 {
    font-size: 18px;
  }
  .Dubizzle {
    font-size: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .olxing {
    margin-top: 20px;
  }
  .Motors span {
    display: block;
    margin-top: 10px;
  }
  .decorating {
    gap: 10px !important;
  }
  .location button {
    width: 100%;
    font-size: 15px;
  }
  .kashmir {
    width: 100px;
    height: 250px;
  }
  .current {
    font-size: 13px;
  }
  .kashmir li {
    font-size: 13px;
  }
  .searching {
    display: none !important;
    width: 0;
  }
  .inputing {
    width: 0;
    display: none !important;
  }
  .iconix {
    display: none !important;
    width: 0;
  }
  .addition {
    display: none !important;
  }
  .sells {
    display: none;
  }
  .navLinks {
    flex-wrap: wrap;
  }

  .navLinks li {
    font-size: 15px;
  }
  .category-mobile {
    margin-top: 20px !important;
  }
  .categoriesh1 h1 {
    margin-bottom: 0px !important;
  }
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
    margin-bottom: 0px !important;
  }
  .Services-container {
    margin-top: 0px !important;
  }
  .category-mobile {
    margin-bottom: 0px !important;
  }
  .bike-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .car-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .house-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-flow: row;
    overflow-x: unset;
  }
  .footing {
    flex-wrap: wrap-reverse;
  }
  .hring {
    display: none;
  }
  .appstore {
    margin-bottom: 20px;
  }
  .appstore img {
    width: 90px;
  }
  .apping img {
    width: 100%;
    display: block;
    height: auto;
  }
  .apping {
    width: 100%;
    flex: 0 0 100%;
  }
  .Flats {
    flex-wrap: wrap;
    height: auto !important;
  }
  .folowing h5 {
    font-size: 15px;
  }
  .Dubizzle {
    font-size: 13px;
  }
  .Privacy img {
    margin-bottom: 20px !important;
    margin-right: 2px;
  }
  .Privacy {
    margin-right: 20px !important;
  }
  .Privacy h5 {
    margin-right: 20px !important
  ;
  }
  .Classifieds{
    font-size: 12px !important;
  }
}
